<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{style('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')}}
    <title>Adonis Blog</title>
</head>

<body>
    @include('inc/navbar')
    <div class="container">
        @!section('content')
    </div>


    {{script('https://code.jquery.com/jquery-3.4.1.slim.min.js')}}
    {{script('https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')}}
    {{script('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')}}
</body>

</html>